@model CoreModelViewController.Models.PopscicleOrder
<h2>Order Summary</h2>

<p>Name: @Model.CustomerName</p>
<p># Popscicles: @Model.PopscicleAmt</p>
<p>Flavor Order: @Model.PopscicleFlavor</p>
<p>Order SubTotal: $@Model.OrderSubtotal</p>
<p>HST : @Model.OrderTaxLabel @Model.OrderTaxAmt (@Model.OrderTaxRate%) </p>
<p>Total: $@Model.OrderTotal</p>